.maininput {
  border-radius: 25px;
  border: 2px solid #73ad21;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.maininputbutton {
  border-radius: 25px;
}
